body
{
    background-color: black;
    color: white;
    margin: 0;
    min-height: 100vh;
    font-family: var(--font-courier);
}

body::before
{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

.container
{
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3
{
    font-family: var(--font-trade-gothic);
    text-align: center;
}

p {
    line-height: 1.6;
}