body
{
    background-color: black;
    color: white;
    margin: 0;
    min-height: 100vh;
}

body::before
{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

#mainArticle
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}