body
{
    background-color: black;
    color: white;
    margin: 0;
    min-height: 100vh;
}

body::before
{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

#mainArticle
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

#mainArticle h1
{
    font-family: "Trade Gothic Next Rust W01 Hv";
    margin-bottom: 30px;
    text-align: center;
}

#mainArticle > p
{
    font-family: "Courier Prime", monospace;
    text-align: center;
    margin-bottom: 20px;
}


footer
{
    margin-top: auto;
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 100%;
    font-size: 0.9em;
}
